$header-bg-color: #ffffff;
$links-color: #000000;
$links-hover-color: #303030;

.header {
    background-color: $header-bg-color;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 0px -6px 10px 0px black;

    a {
        color: $links-color;
    }

    .logo-link {
        display: block;
        width: fit-content;
        height: 100%;
        &__image {
            width: 80px;
            height: 80px;
        }
    }

    .header-nav-bar-links-container {
        display: flex;
        gap: 15px;
        &__link {
            text-align: center;
            display: block;
            padding: 10px;
            color: white;
            background-color: #3e3e3f;
            border-radius: 10px;

            &:hover {
                box-shadow: 0 0 6px 0px black;
            }
        }
    }
}

@media (max-width:426px) {
    .header {
        display: flex;
        flex-direction: column;
        padding-bottom: 12px;
        .header-nav-bar-links-container {
            &__link {
                padding: 6px;
            }
        }
    }
}