$body-bg-color: #ffffff;
$body-text-color: #000000;
$links-color: #ffffff;
$links-hover-color: #e47f7f;
$default-transition-duration: 0.3s;

* {
    transition-duration: $default-transition-duration;
}

body {
    background-color: $body-bg-color;
    color: $body-text-color;
}

.loading-spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255,255,255,0.3);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin { 
  100% { transform: rotate(360deg); }
}